/* Patternfly CSS places a "bg-login.jpg" as the background on this ".login-pf" class.
   This clashes with the "keycloak-bg.png' background defined on the body below.
   Therefore the Patternfly background must be set to none. */
.login-pf {
  background: none;
}

.login-pf body {
  background: url("../img/keycloak-bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  background: radial-gradient(rgb(39, 50, 72), rgb(18, 29, 51));
}

textarea.pf-c-form-control {
  height: auto;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
}
input.pf-c-form-control {
  height: auto;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
}
input.pf-c-form-control:focus {
  border: 1px solid #1565c0;
  border-radius: 4px;
}
.pf-c-alert__title {
  font-size: var(--pf-global--FontSize--xs);
}

p.instruction {
  margin: 5px 0;
}

.pf-c-button.pf-m-control {
  border: solid var(--pf-global--BorderWidth--sm);
  border-color: rgba(230, 230, 230, 0.5);
  border-radius: 4px;
  padding: 8px 22px;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  text-transform: uppercase;
}

input#kc-login {
  border: solid var(--pf-global--BorderWidth--sm);
  border-color: #1565c0;
  border-radius: 4px;
  padding: 8px 22px;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  text-transform: uppercase;
}
h1#kc-page-title {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.334;
}

#kc-locale ul {
  background-color: var(--pf-global--BackgroundColor--100);
  display: none;
  top: 20px;
  min-width: 100px;
  padding: 0;
}

#kc-locale-dropdown {
  display: inline-block;
}

#kc-locale-dropdown:hover ul {
  display: block;
}

#kc-locale-dropdown a {
  color: var(--pf-global--Color--200);
  text-align: right;
  font-size: var(--pf-global--FontSize--sm);
}

a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: var(--pf-global--spacer--xs);
}

.login-pf .container {
  padding-top: 40px;
}

.login-pf a:hover {
  color: #0099d3;
}

#kc-logo {
  width: 100%;
  background-color: #edfcfc;
}
.content__container {
  margin: 64px;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 64px;
  gap: 16px;
}
.welcome__text {
  font-size: 64px;
  color: #0a2342;
  font-weight: bold;
  text-align: center;
}
.input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input__container label {
  font-size: 16px;
  font-weight: bold;
}
.btn__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 64px;
}
.btn__container span {
  color: #1cc2c4;
  font-size: 14px;
}
.login__input {
  border-radius: 8px;
  border: transparent;
  padding: 8px 16px;
  box-shadow: 0 1px 8px #9da7b3;
  color: #0a2342;
  width: 50%;
}
.submit__btn {
  background-color: #1cc2c4;
  border: 1px solid #1cc2c4;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
  padding: 8px 64px;
  width: fit-content;
}
.continue__txt {
  font-size: 14px;
  font-weight: 300;
  color: #3b4f68;
  text-align: center;
  margin-top: 32px;
}
.social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
.forget__pass__txt {
  font-size: 14px;
  font-weight: 300;
  color: #ced3d9;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  padding: 0px 64px;
}
.logo__container {
  position: relative;
}
.logo {
  position: absolute;
  z-index: 99;
  left: 16px;
  top: 16px;
}
.right__column {
  width: 40%;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #edfcfc;
}
.content__container {
  margin: 64px;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 64px;
  gap: 16px;
}
.welcome__text {
  font-size: 64px;
  color: #0a2342;
  font-weight: bold;
  text-align: center;
}
.input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input__container label {
  font-size: 16px;
  font-weight: bold;
}
.btn__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 64px;
}
.btn__container span {
  color: #1cc2c4;
  font-size: 14px;
}
.login__input {
  border-radius: 8px;
  border: transparent;
  padding: 8px 16px;
  box-shadow: 0 1px 8px #9da7b3;
  color: #0a2342;
  width: 50%;
}
.submit__btn {
  background-color: #1cc2c4;
  border: 1px solid #1cc2c4;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
  padding: 8px 64px;
  width: fit-content;
}
.continue__txt {
  font-size: 14px;
  font-weight: 300;
  color: #3b4f68;
  text-align: center;
  margin-top: 32px;
}
.social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
.forget__pass__txt {
  font-size: 14px;
  font-weight: 300;
  color: #ced3d9;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  padding: 0px 64px;
}
.logo__container {
  position: relative;
}
.logo {
  position: absolute;
  z-index: 99;
  left: 16px;
  top: 16px;
}
.right__column {
  width: 40%;
}
