html {
  font-size: 16px;
  font-family: "Ubuntu";
}
.my-color {
  color: #0a2342;
}

.title-font {
  font-family: "Sansation";
}

.normal-font {
  font-family: "Arial";
}

.my-root-class {
  background: white;
}

.my-root-class body {
  /* background: url(./assets/background.svg) no-repeat center center fixed; */
  background: #edfcfc;
  overflow: hidden;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
}

.reset-password-form {
  max-width: 460px;
}

.right-container {
  background: url(./assets/background.svg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 64px;
  width: 50%;
  height: 100vh;
}

.right-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.right-container h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #edfcfc;
  /* text-align: center;
  width: 100%; */
}

.right-container span {
  font-size: 1rem;
  font-weight: 200;
  color: #edfcfc;
  /* text-align: center;
  width: 100%; */
}

.right-container img {
  width: 5rem;
}

.test {
  padding-inline: 64px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  gap: 2rem;
  align-items: center;
}

.kcFormGroupClass {
  /* background: #0a2342; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.kcFormGroupClass label {
  color: #3b4f68;
  font-size: 1rem;
  font-weight: 600;
}

.kcFormGroupClass input {
  border-radius: 8px;
  min-width: 250px;
  border: transparent;
  padding: 6px 16px 6px 8px;
  box-shadow: 0px 1px 8px #00000033 !important;
}

.kcFormGroupClass input:focus {
  outline: none;
  border: 1px solid #9da7b3;
  box-shadow: 0px 1px 8px #00000033;
}

.input-buton-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.reset-password-text a {
  color: #00365c;
}

.kcButtonDefaultClass {
  background: transparent;
  border-radius: 100px !important;
  padding: 8px 64px;
  border: transparent;
  border: 1px solid #a4e7e7;
}

.kcButtonDefaultClass:hover {
  background: transparent;
  box-shadow: 0px 1px 8px #00000033;
}

.kcButtonPrimaryClass {
  background: #00365c;
  border-radius: 100px !important;
  padding: 8px 64px;
  border: transparent;
  box-shadow: 0px 1px 2px #00000033;
  color: #e3f5f5;
}

.kcButtonPrimaryClass:hover {
  box-shadow: 0px 1px 8px #00000033;
}

.kcFormButtonsClass {
  display: flex;
  justify-content: center;
}

.input-remember-me {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 32px;
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-input-container {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  align-items: center;
}

.password-input-container input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-right: 2.5rem;
  box-sizing: border-box;
  border: 0.2px solid #c9cdd1;
}

.password-input-container input:focus {
  border: 0.2px solid #4a90e2;
  box-shadow: 0 1px 8px 0 rgba(74, 144, 226, 0.5);
}

.toggle-password-visibility {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #00365c;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-container:hover,
.social-container:focus {
  background-color: #e0f7f7;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.zocial,
.zocial:hover {
  background-color: transparent !important;
}

a.zocial {
  box-shadow: none !important;
}

.kcFormSocialAccountListClass {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#kc-social-providers {
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
}

.separator hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.separator span {
  color: #999;
  font-size: 0.875rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.logo-container {
  text-align: left;
  margin-bottom: 20px;
}

.logo {
  height: auto;
}

.social-icon {
  margin-right: 10px;
  max-width: 2.5rem;
}

.registeration-container {
  max-width: 260px;
  text-align: center;
}

.fotm-container {
  width: 90%;
}

.footer-container {
  display: none;
}

@media (max-width: 1200px) {
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 8px 0px;
  }
  html {
    font-size: 10px;
  }
  .col-xs-12 {
    width: 90%;
  }
  .right-container {
    display: none !important;
  }
  .test {
    padding-inline: 0;
  }
  .fotm-container {
    width: 100% !important;
  }
  #kc-header-wrapper {
    padding: 0;
    color: rgb(11, 35, 66) !important;
  }
  #kc-form-buttons {
    margin-top: 1rem;
  }
  .logo-container {
    text-align: center;
    margin-bottom: 4px;
  }

  .footer-container {
    background: url(./assets/footer.svg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 6rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .footer-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-container h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #edfcfc;
    /* text-align: center;
    width: 100%; */
  }

  .footer-container span {
    font-size: 1rem;
    font-weight: 200;
    color: #edfcfc;
    /* text-align: center;
    width: 100%; */
  }

  .footer-container img {
    width: 5rem;
  }

  .left-container {
    width: 100%;
    padding: 0;
  }

  .social-container {
    padding: 8px 8px;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding: 0;
  }

  .form-container {
    max-height: calc(100vh - 150px);
    overflow: auto;
    overflow-x: hidden;
  }
}
